.container {
    width: 1480px;
    margin: 0 auto;
}

.header span {
color: #4bcaff;
text-align: left;
}

.header {
    margin-top: 61px;
    margin-left: 100px;
}

.header > a {
    font-size: 55px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
}
.nav-bar ul li {
   display: inline-block;
}
.menu {
    width: 1280px;
    margin-left: 101px;
    box-sizing: border-box;

}
.nav-bar {
background-color: #35444f;
height: 69px;
width: 1280px;
text-align: center;
padding-top: 8px;
box-sizing: border-box;
margin-top: 37px;

}
.nav-bar a {
    font-size: 18px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-right: 97px;
}

.nav-bar a:hover {
    background-color: #222f3a;
}


.menu-left { 
    border: 1px solid #35444f;
    background-color: #fff;
    height: 399px;
    width: 344px;
    margin-top: 51px;
    margin-left: 101px; 
    display: inline-block;
    vertical-align: top;
   
}

.menu-left li {
list-style-type: none;
}
.menu-left a{
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #485863;
    vertical-align: text-top;
    line-height: 74px;
}

.frame {
    display: inline-block;
    width: 885px;
    margin-left:44px;
    margin-top: 51px;
    vertical-align: top; 
}
.img{

   background-color: #fff;
   width: 885px;
   height: 529px;
   outline: 1px solid #35444f;

   
}
.frame img {
    padding-top: 75px;
    padding-left: 279px;
}

.paragraf {
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
    width: 820px;   


}
.paragraf p {
    font-family: Arial, Helvetica, sans-serif;
}

.menu-future {
    width: 1280px;
    margin-left: 101px;
    box-sizing: border-box;
    

}
.nav-future {
    background-color:#b4b7ba;
    height: 69px;
    width: 1280px;
    text-align: left;
    padding-top: 7px;
    box-sizing: border-box;
    margin-top: 50px; 
    margin-bottom: 30px;
    display: inline-block;

}
.nav-future a {
    font-size: 22px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #0c1927;
    margin-left: 20px;

}

.nav-future ul li {
    display: inline-block;

}
.nav-future ul ol {
    display: inline-block;
}

.nav-future ol {
    margin-left: 218px;
}